* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.bg {
    width: 100%;
    height: 800px;
    background-image: url('./img/bg-hero-desktop.svg');background-image: url('./img/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 179, 255, 0.218);
}

header .logo {
    width: 100%;
    display: flex;
    padding: 40px 100px;
    align-items: center;
    justify-content: space-between;
}

header .logo button {
    width: 190px;
    font-size: 13px;
    font-weight: bold;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #cccccc62;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 4px 4px rgba(151, 149, 149, 0.312);
}

header .logo button:hover {
    background-color: rgb(243, 237, 237);
}

.s01 {
    margin-top: 80px;
}

section .sessao1 {
    width: 100%;
    padding:0 100px ;
    display: flex;
}

.sessao1 img {
    width: 100%;
    height: 500px;
}

.container {
    width: 100%;
    height: 500px;
    padding-right: 100px;
    padding-top: 120px;
}

.container h1 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.container h1, p, button {
    margin-bottom: 30px;
}

.container button {
    width: 190px;
    font-size: 13px;
    font-weight: bold;
    height: 47px;
    background-color: rgb(255, 0, 217);
    border: 1px solid #ff00d462;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    padding: 14px;
}

.container button:hover {
    background-color: rgb(219, 1, 186);
}

.s02 {
    width: 100%;
    height: 2000px;
    background-color: white;
    padding: 100px 190px;
}

.container01 {
    width: 100%;
    height: 400px;
    display: flex;
    border: 5px solid #cccccc4c;
    padding: 50px 90px;
    border-radius: 20px;
    box-shadow: 3px 3px #cccccc21;
}

.container01 > img {
    height: 290px;
}

.container01 > div {
    margin-top: 70px;
    width: 700px;
}

.container01 h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}












@media screen and (max-width:1024px) {
    .bg {
        max-width: 1024px;
        width: 890px;
    }
}


/*regra dos 650px*/
@media screen and (max-width:650px) {

    header .logo button {
        margin-top: 40px;
    }

    section .sessao1 {
        display: block;
        align-items: center;
        padding-right: 100px;
    }

    .container {
        display: grid;
        place-items: center;
        height: 100vh;
        text-align: center;
    }

    .container h1, p, button {
        margin-bottom: -0;
    }

    .bg {
        width: 860px;
    }

    header .logo {
        display: flex;
    }

    .s01 {
        margin-top: 80px;
    }
    
    section .sessao1 {
        width: 100%;
        padding:0 100px ;
        display: flex;
    }
    
    .sessao1 img {
        max-width: 420px;
        width: 100%;
        height: 500px;
    }
    
    .container {
        max-width: 420px;
        width: 100%;
        height: 500px;
        padding-right: 100px;
        padding-top: 120px;
    }

    .s02 {
        max-width: 420px;
        width: 100%;
        height: 2000px;
        background-color: white;
        padding: 50px 90px;
    }
    
    .container01 {
        width: 700px;
        padding: 30px 30px;
    }
    
    .container01 > img {
        height: 290px;
    }
    
    .container01 > div {
        margin-top: 70px;
        width: 700px;
    }

}

@media screen and (max-width:400px) {
    header .logo {
        padding: 20px 80px;
        display: block;
    }

    .container {
        margin-bottom: 100px;
    }

    .bg {
        max-width: 420px;
        width: 100%;
        height: 1130px;
    }

    .s01 {
        margin-top: 20px;
    }

    section .sessao1 {
        width: 100%;
        padding:0 100px ;
        display: block;
    }

    .sessao1 img {
        height: 300px;
        margin-top: -60px;
        height: 250px;
    }

    html {
        overflow-x: hidden;
    }

    .s02 {
        padding: 40px 30px;
    }

    .container01 > img {
        width: 180px;
        height: 180px;
    }

    .container01 > div {
        align-items: center;
        text-align: center;
        width: 200px;
    }

    .container01 {
        max-width: 420px;
        width: 100%;
        display: block;
        height: 570px;
        padding: 10px 40px;
    }
}

/* regra dos 380px*/
@media screen and (max-width:380px) {
    header .logo {
        padding: 20px 40px;
    }

    .bg {
        width: 340px;
    }

    .container {
        margin-bottom: 100px;
    }

    .container h1, p, button {
        margin-bottom: 25px;
    }

    .sessao1 img {
        width: 200px;
        margin-right: 40px;
    }

    html {
        overflow-x: hidden;
    }

    .s01 {
        margin-top: 15px;
    }

    .container01 {
        padding: 20px 20px;
    }

}

@media screen and (max-width:1200px) {
    .container {
        padding-top: 50px;
    }
}
